* {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: var(--font-tahoma);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.app {
    padding-bottom: 60px;
    width: 100%;
    max-width: 1820px;
    margin: auto;
}

/* Header Styles */
header {
    background-color: white;
    color: var(--primary-text-color-900);
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 15px 10px;
    display: inline-block;
}

nav ul li a:hover {
    color: rgb(194, 221, 240);
}

/* Submenu services */
nav ul li .submenu {
    display: none;
    position: absolute;
    width: 500px;
    top: 100%;
    left: 0;
    background-color: var(--primary-color-900);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: top 0.3s ease 0.25s, opacity 0.3s ease 0.25s;
}

nav ul li:hover .submenu {
    display: block;
}

nav ul li .submenu li {
    display: block;
    margin: 0;
}

nav ul li .submenu li a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
    display: flex;
}

nav ul li .submenu li a:hover {
    background-color: var(--primary-color-900);
}

.menu-columns {
    display: flex;
}

ul.submenu1,
ul.submenu2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-arrow {
    position: relative;
}

.text-arrow::after {
    content: "";
    background-image: url(../assets/images/arrow-sm-down-grey.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

/* LOGO */
.logo img {
    width: 150px;
    height: auto;
    margin: 0;
}

.logoFixed {
    position: fixed;
    z-index: 1020;
    top: -5px;
    transition: top 0.3s ease 0.25s, opacity 0.3s ease 0.25s;
}

.headerLanguageLoginFixed {
    display: none !important;
    position: fixed;
    z-index: 1020;
    top: 10px;
    right: 332.5px;
    transition: top 0.3s ease 0.25s, opacity 0.3s ease 0.25s;
}

.headerLanguageLoginFixed .dropbtn {
    color: white;
}

.headerTextFixed {
    position: fixed;
    top: 38px;
    z-index: 1020;
    color: white;
    left: 213px;
}

.headerFixed {
    margin-top: 120px;
}

/* HEADER TEXT */
.header-slogan p {
    margin: 0;
    padding-top: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: var(--font-roboto); */
}

/* Login Button and Language MENU */
.header-language-login {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.language-icon {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

.language-code {
    margin-right: 15px;
    font-size: 16px;
    color: var(--primary-text-color-900);
    line-height: 1;
    position: relative;
    top: -3px;
}

/* LOGIN */
.login-button {
    background-color: var(--primary-color-800);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    /* font-family: var(--font-roboto); */
}

.login-button:hover {
    background-color: rgb(28, 141, 255);
}

/* MENU */
.menu {
    background-color: var(--primary-color-900);
    position: relative;
    transition: top 0.3s ease 0.25s, opacity 0.3s ease 0.25s;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu>ul>li {
    float: left;
    position: relative;
    z-index: 1000;
}

.menu a {
    color: var(--secondary-color-900);
    text-decoration: none;
    padding: 10px 15px;
    /* font-family: var(--font-roboto); */
}

.menu a:hover {
    text-decoration: none;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: top 0.3s ease 0.25s, opacity 0.3s ease 0.25s;
}

/* Container for white boxes, using flexbox */
.white-boxes-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px 0;
}

/* Styling for individual white boxes */
.white-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* font-family: var(--font-roboto); */
    flex: 1;
    margin: 0 10px;
    text-align: center;
    max-width: 300px;
    transition: background-color 0.3s ease;
}

/* Container for clickable boxes */
.white-boxes-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px 0;
}

/* Styling for clickable boxes */
.clickable-box {
    text-decoration: none;
    flex: 1;
    margin: 0 10px;
    max-width: 300px;
}

.clickable-box:hover .white-box {
    background-color: rgb(230, 245, 255);
}

/* Styling for white boxes that are now clickable */
.white-box {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    color: rgb(0, 51, 102);
}

.white-box p {
    margin: 0;
    padding: 5px 0;
}

.white-box p b {
    font-size: 20px;
}

.white-box:hover {
    transform: scale(1.05);
    background-color: #e6f7ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.white-box-icon {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.white-box-text {
    display: flex;
    flex-direction: column;
}

/* Background Image Styles */
.background-image {
    background-image: url('../assets/images/Vietnambackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
}

/* Text on the left side of the background image */
.text-over-image {
    position: absolute;
    top: 25px;
    left: 5%;
    color: var(--primary-color-800);
    font-size: 40px;
    /* font-family: var(--font-roboto); */
    max-width: 800px;
    margin-bottom: 0px;
    z-index: 100;
}

.text-over-image p {
    margin-bottom: 0px;
}

.small-text {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.explore-our-solutions-button {
    background-color: var(--primary-color-800);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    /* font-family: var(--font-roboto); */
    font-size: 16px;
    margin-top: 180px;
    display: block; /* <-- Change from inline-block to block */
    /* display: inline-block; */
    /* position: relative; */
    /* top: 5px; */
    width: 180px; /* Adjust as needed */
}

.explore-our-solutions-button:hover {
    background-color: rgb(28, 141, 255);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .header-slogan p {
        display: none;
    }

    .logoFixed {
        display: none;
    }

    .menu ul {
        justify-content: space-around;
        padding: 5px 0;
    }

    .menu li {
        margin: 0 0px;
    }

    .background-image {
        height: 300px;
    }

    .text-over-image {
        font-size: 18px;
    }

    .white-box {
        max-width: 90%;
        padding: 10px;
    }
}

.description {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.title-padding-left {
    padding-top: 50px;
    padding-left: 150px;
}

/* Dropdown style react */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    margin-right: 15px;
    font-size: 16px;
    color: rgb(0, 67, 91);
    line-height: 1;
    position: relative;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.section {
    margin: auto;
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    margin: 0;
}

.scroll-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgb(0 67 91 / 30%); */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 90000;
    border: 1px solid white;
    background-color: var(--color-background-v3);
}

.scroll-menu button {
    color: gray;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* styles content-section */
.content-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.text-column {
    flex: 1;
    padding-right: 35px;
    padding-left: 35px;
}

.text-column h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.text-column p {
    margin: 10px 0;
    line-height: 1.5;
}

.button-group {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.image-column {
    flex: 1;
}

.image-column img {
    width: 100%;
    border-radius: 15px;
}

.active {
    color: var(--active-color-800);
}

button.active::after {
    content: '';
    position: relative;
    bottom: 1px;
    display: block;
    left: 0;
    top: 11px;
    right: 0;
    height: 3px;
    background-color: gray;
}

.page-title {
    padding: 20px 280px;
}